<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Suite de ejemplo" parallel="none" data-provider-thread-count="3" thread-count="1">
    <test name="Example Test">
        <classes>
            <class name="runners.TestRunner"/>
        </classes>
    </test>
</suite>
